<!DOCTYPE html>
<html lang="en">
<head>
    <title>Container viz</title>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/d3.min.js"></script>
    <script src="/static/graph.js"></script>
    <link rel="stylesheet" href="/static/style.css"/>

</head>
<body>

<div id="viz"></div>

<script type="text/javascript">
    $(function () {
        var conn;

        function handleEvent(event) {

            if (event.image == 'tauffredou/swarm-demo') {
                return
            }

            switch (event.Status) {
                case 'running':
                case 'exited':
                    graph.addNode(event);
                    console.log(event);
                    break;
                case 'destroy':
                    graph.removeNode(event.Id);
                    console.log(event);
//                    $container = $("#" + event.Id);
//                    $container.hide(200, function () {
//                        $container.remove();
//                    });
                    break;
            }
            console.log(event);
        }

        if (window["WebSocket"]) {
            conn = new WebSocket("ws://{{$}}/ws");
            conn.onclose = function (evt) {
            };
            conn.onmessage = function (evt) {
                handleEvent(JSON.parse(evt.data));
            }
        } else {
            console.log("Your browser does not support WebSockets")
        }
    });

    var graph = new Graph('#viz');

</script>
</body>
</html>
