<!DOCTYPE html>
<html lang="en">
<head>
    <title>Container viz</title>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/d3.min.js"></script>
    <script src="/static/graph.js"></script>
    <link rel="stylesheet" href="/static/style.css"/>

</head>
<body>

<div id="viz"></div>
<script type="text/javascript">
    $(function () {
        var conn;
        var msg = $("#msg");

        function handleEvent(event) {

            var engine;
            if (event.image == 'tauffredou/swarm-demo') {
                return
            }

            var $container;
            var status = event.Running ? 'start' : 'die';
            switch (status) {
                case 'start':
                    var split = event.Name.split('/');
                    if (split.length > 1) {
                        engine = split[1];
                        event.Name=split[2]
                    } else {
                        engine = "default"

                    }
                    event.engine = engine;
                    graph.addNode(event.Id, status, event);
                    graph.addEngine(engine);
                    break;
                case 'die':
                    graph.removeNode(event.Id);
                    break;
                case 'destroy':
                    $container = $("#" + event.Id);
                    $container.hide(200, function () {
                        $container.remove();
                    });
            }
        }

        if (window["WebSocket"]) {
            conn = new WebSocket("ws://{{$}}/ws");
            conn.onclose = function (evt) {
            };
            conn.onmessage = function (evt) {
                handleEvent(JSON.parse(evt.data));
            }
        } else {
            console.log($("<div><b>Your browser does not support WebSockets.</b></div>"))
        }
    });

    var graph = new Graph('#viz');

</script>
</body>
</html>
